<manifest package="org.aisen.weibo.sina" xmlns:android="http://schemas.android.com/apk/res/android">


    <!--Dangerous Permissions-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 允许写入sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!--Normal Permissions-->
    <!-- 允许程序打开网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许程序改变Wi-Fi连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 允许一个程序访问GPS信息 -->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
    <!-- 允许程序访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许访问振动设备 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 开机自启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--<uses-permission android:name="android.permission.READ_LOGS"/>-->
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application android:name=".base.MyApplication" android:allowBackup="true"
                 android:icon="@drawable/a_icon_b" android:label="@string/app_name"
                 android:theme="@style/AppBaseTheme">
        <!--友盟配置-->
        <!--release-->
        <meta-data android:name="UMENG_APPKEY" android:value="56dee57be0f55a98a00032d8"/>
        <!--debug-->
        <!--<meta-data android:name="UMENG_APPKEY" android:value="56dee56ae0f55af007001d9d"/>-->
        <!-- 启动界面 -->
        <activity android:name=".ui.activity.base.SplashActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--首页-->
        <activity android:name=".ui.activity.base.MainActivity" android:launchMode="singleTask"
                  android:screenOrientation="portrait" android:theme="@style/AppTheme.Main"/>
        <!--公共页-->
        <activity android:name=".ui.activity.base.SinaCommonActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppBaseTheme"/>
        <!-- 发布微博、转发微博、评论、回复评论、意见反馈、分享 -->
        <activity android:name=".ui.activity.publish.PublishActivity" android:launchMode="singleTop"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <!-- 用户信息、搜索 -->
        <activity android:name="org.aisen.weibo.sina.ui.activity.profile.UserProfileActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.Profile">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="org.aisen.weibo.sina.userinfo"/>
            </intent-filter>
        </activity>
        <!--网页版-->
        <activity android:name=".ui.activity.profile.WeiboClientActivity"/>
        <!-- 图片详情 -->
        <activity android:name=".ui.activity.picture.PicsActivity"/>
        <!-- 相册详情 -->
        <activity android:name=".ui.activity.picture.PhotosActivity"/>
        <!-- 浏览器 -->
        <activity android:name=".ui.activity.browser.BrowserActivity">
            <!-- 默认浏览器 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="aisen"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--视频播放-->
        <activity android:name=".ui.activity.browser.VideoPlayerActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="videopath"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="videoshort"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.picture.TimelinePicActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="timeline_pic"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 话题 -->
        <activity android:name="org.aisen.weibo.sina.ui.activity.topics.TopicsActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="org.aisen.weibo.sina.topics"/>
            </intent-filter>
        </activity>
        <!--壁纸设置-->
        <activity android:name=".ui.activity.picture.WallpaperSettingActivity"
                  android:screenOrientation="portrait">

        </activity>

        <!-- 发布服务 -->
        <service android:name=".service.PublishService"/>
        <!-- 离线服务 -->
        <service android:name=".service.OfflineService"/>
        <!-- 未读消息服务 -->
        <service android:name=".service.UnreadService" android:exported="true">
            <intent-filter>
                <action android:name="org.aisen.weibo.sina.ACTION_GET"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <!-- 定时发布广播 -->
        <receiver android:name=".receiver.TimingBroadcastReceiver">
            <intent-filter>
                <action android:name="org.aisen.weibo.sina.ACTION_TIMING_PUBLISH"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <!-- 开机自启动 -->
        <receiver android:name=".receiver.BootCompletedReceiver"
                  android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
